zelle errata
10.10.py.~1~
10.11.py.~1~
10.12.py.~1~
10.12.py.~2~
10.13.py.~1~
10.13.py.~2~
10.3.py.~1~
10.4.py.~1~
10.4.py.~2~
10.4.py.~3~
10.5.py.~1~
10.6.py.~1~
10.7.py.~1~
10.8.py.~1~
10.9.py.~1~
button.py.~1~
cbutton.py.~1~
graphics.py.~1~
graphics.py.~2~
notes on PPaItCS.~1~
notes on PPaItCS.~2~
roller.py.~1~
zelle errata.~1~
zelle errata.~2~
zelle errata.~4~
zelle errata.~5~
__pycache__
#graphics.py#
.DS_Store
button.pyc
graphics.pyc
foo.bar notes
MOCK_DATA copy.txt
MOCK_DATA.txt
mock_data_beta copy.txt
mock_data_beta copy2.txt
